* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}


/********** nav **********/

nav {
    position: relative;
    width: 1513px;
    height: 187px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: solid 0.5px #C0C0C0;
}

a:link,
a:visited {
    text-decoration: none;
}

.menu a:link,
.menu a:visited {
    color: black;
}

.interestConutry_modify a:link,
.review_modify a:link,
.clipping_modify a:link,
.interestConutry_modify a:visited,
.review_modify a:visited,
.clipping_modify a:visited {
    color: #444444;
}


/* logo */

.wrap_logo {
    position: absolute;
    overflow: hidden;
    width: 127px;
    height: 110px;
    margin-left: 77px;
    margin-top: 40px;
}

.wrap_logo img {
    width: 100%;
    cursor: pointer;
}


/* menu */

.wrap_menu {
    position: absolute;
    margin-left: 430px;
    margin-top: 140px;
}

.menu {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

ul.menu>li {
    display: inline-block;
    font-size: 24px;
    margin-right: 114px;
    cursor: pointer;
}


/* login */

.wrap_login-bar {
    position: absolute;
    margin-left: 1377px;
    margin-top: 148px;
}

.login-bar {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

ul.login-bar>li {
    display: inline-block;
    font-size: 13px;
    margin-right: 8px;
    padding: 4px;
    cursor: pointer;
    border: solid 1px white;
}

ul.login-bar>li:hover {
    border: solid 1px #F9F9F9F9;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


/* search */

.wrap_search {
    position: relative;
    margin-left: 453px;
    margin-top: 40px;
    width: 607px;
    height: 58px;
}

.wrap_search input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 37px;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

.wrap_search input:focus {
    outline: none;
}

.wrap_search input::placeholder {
    color: #B3B3B3;
}

.wrap_search i {
    position: absolute;
    font-size: 30px;
    color: #0029BA;
    margin-left: 555px;
    margin-top: 14px;
    cursor: pointer;
}


/********** section **********/

.wrap_content {
    width: 1513px;
    margin: 0 auto;
}


/* member information */

.wrap_memberInfor {
    width: 987px;
    height: 267px;
    background-color: gainsboro;
    margin: 0 auto;
    margin-top: 78px;
    border-bottom: solid 0.5px #A8A8A8;
    position: relative;
    overflow: hidden;
}

.profile {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 23px;
    border-radius: 10px;
}

.wrap_infor {
    position: absolute;
    margin-top: 12px;
}

.wrap_infor p {
    font-size: 20px;
    margin: 0px;
    margin-left: 154px;
    margin-bottom: 11.5px;
}

.infor_modify {
    position: absolute;
    margin-top: 196px;
    margin-left: 858px;
    width: 104px;
    height: 33px;
    background-color: #0029BA;
    border: none;
    border-radius: 10px;
}

.infor_modify a {
    color: white;
}


/* interset country */

.wrap_interestConutry {
    width: 940px;
    height: 100%;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 32px;
}

.wrap_interestConutry p {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 26px;
}

.interestConutry {
    background-color: lightpink;
    width: 940px;
    height: 150px;
}

.interestConutry_modify {
    margin-top: 30px;
    width: 940px;
    height: 22px;
}

.interestConutry_modify button {
    padding: 0px;
    margin-left: 839.5px;
    border: none;
    background-color: white;
    border-bottom: solid 0.5px #444444;
}

.interestConutry_modify a {
    font-size: 16px;
}


/* review */

.wrap_review {
    width: 940px;
    height: 100%;
    background-color: aquamarine;
    margin: 0 auto;
    margin-top: 116px;
}

.wrap_review p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 26px;
}

.review {
    background-color: lightsteelblue;
    width: 940px;
    height: 250px;
}

.review_modify {
    margin-top: 41px;
    width: 940px;
    height: 22px;
}

.review_modify button {
    padding: 0px;
    margin-left: 892px;
    border: none;
    background-color: white;
    border-bottom: solid 0.5px #444444;
}

.review_modify a {
    font-size: 16px;
}


/* clipping */

.wrap_clipping {
    width: 940px;
    height: 100%;
    background-color: darksalmon;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 244px;
}

.wrap_clipping p {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 54px;
}

.clipping {
    background-color: olive;
    width: 940px;
    height: 300px;
}

.clipping_modify {
    margin-top: 54px;
    width: 940px;
    height: 22px;
}

.clipping_modify button {
    padding: 0px;
    margin-left: 892px;
    border: none;
    background-color: white;
    border-bottom: solid 0.5px #444444;
}

.clipping_modify a {
    font-size: 16px;
}


/********** footer **********/

footer {
    position: relative;
    width: 1513px;
    height: 163px;
    background-color: #393939;
    margin: 0 auto;
    overflow: hidden;
}

footer p {
    margin: 0px;
    color: white;
}

.wrap_company {
    position: absolute;
    width: 200px;
    height: 79px;
    margin-left: 57px;
    margin-top: 21px;
}

.wrap_contact {
    width: 300px;
    height: 102px;
    margin-left: 328px;
    margin-top: 21px;
}